---
import { Icon } from 'astro-icon/components'
import { getCollection } from "astro:content";

import Layout from '../layouts/Layout.astro';
import Timeline from "../components/Timeline.astro";
import SectionsTitle from "../components/SectionsTitle.astro";
import Projects from "../components/Projects.astro";

const projects = (await getCollection('projects')).sort(
    (a, b) => (b.id < a.id ? -1 : 1)
);
---

<Layout title="Marcos Mello">
    <section id="about-me" class="w-full flex flex-col lg:flex-row gap-y-10 lg:gap-x-20 px-6 md:px-12">
        <div class="w-full lg:w-1/2 h-full flex flex-col justify-between gap-y-10">
            <div class="w-full flex flex-col gap-y-6">
                <SectionsTitle title="#bio"/>
                <p class="text-xl text-justify font-sans font-light text-black dark:text-white break-words">
                    Atualmente curso Ciência da Computação na Universidade Federal do Espírito Santo (UFES) e sou técnico em Automação Industrial pelo Instituto Federal do Espírito Santo (IFES). Tenho interesse em desenvolvimento de aplicações IoT, mobile iOS, backend e jogos.
                </p>
            </div>
            <div class="w-full flex flex-col gap-y-6">
                <SectionsTitle title="#habilidades"/>
                <ul class="text-xl text-justify font-sans font-light text-black dark:text-white list-disc pl-6 break-words">
                    <li>Resolução de Problemas e Desenvolvimento de Soluções;</li>
                    <li>Comunicação e Trabalho em Equipe;</li>
                    <li>Aprendizado Rápido.</li>
                </ul>
            </div>
        </div>
        <div class="w-full h-full lg:w-1/2 flex flex-col gap-y-6">
            <SectionsTitle title="#tecnologias"/>
            <div class="w-full h-full flex flex-col justify-between gap-y-10">
                <div class="w-full flex flex-col gap-y-3">
                    <div class="w-full flex gap-x-3">
                        <Icon name="material-symbols:subdirectory-arrow-right" color="white" width="2.25rem" height="2.25rem"/>
                        <h3 class="text-4xl font-medium font-sans text-black dark:text-white italic">/* linguagens */</h3>
                    </div>
                    <div class="w-full flex flex-wrap gap-x-3">
                        <Icon name="simple-icons:c" color="#A8B9CC" width="2.25rem" height="2.25rem"/>
                        <Icon name="simple-icons:cplusplus" color="#00599C" width="2.25rem" height="2.25rem"/>
                        <Icon name="simple-icons:python" color="#3776AB" width="2.25rem" height="2.25rem"/>
                        <Icon name="simple-icons:swift" color="#F05138" width="2.25rem" height="2.25rem"/>
                        <Icon name="simple-icons:kotlin" color="#7F52FF" width="2.25rem" height="2.25rem"/>
                        <Icon name="simple-icons:javascript" color="#F7DF1E" width="2.25rem" height="2.25rem"/>
                        <Icon name="simple-icons:php" color="#777BB4" width="2.25rem" height="2.25rem"/>
                    </div>
                </div>
                <div class="w-full flex flex-col gap-y-10 mt-2">
                    <div class="w-full flex gap-x-3">
                        <Icon name="material-symbols:subdirectory-arrow-right" color="white" width="2.25rem" height="2.25rem"/>
                        <h3 class="text-4xl font-medium font-sans  text-black dark:text-white italic">/* ferramentas */</h3>
                    </div>
                    <div class="w-full flex flex-col lg:flex-row justify-between gap-y-5 lg:gap-x-10">
                        <div class="w-full lg:w-1/2 h-full flex flex-col justify-between gap-y-5">
                            <div class="w-full flex flex-col gap-y-3">
                                <h4 class="text-xl font-light font-sans text-black dark:text-white">frameworks</h4>
                                <div class="w-full flex flex-wrap gap-3">
                                    <Icon name="simple-icons:astro" color="#BC52EE" width="2.25rem" height="2.25rem"/>
                                    <Icon name="simple-icons:laravel" color="#FF2D20" width="2.25rem" height="2.25rem"/>
                                    <Icon name="simple-icons:spring" color="#6DB33F" width="2.25rem" height="2.25rem"/>
                                    <Icon name="simple-icons:arduino" color="#00878F" width="2.25rem" height="2.25rem"/>
                                </div>
                            </div>
                            <div class="w-full flex flex-col gap-y-3">
                                <h4 class="text-xl font-light font-sans text-black dark:text-white">banco de dados</h4>
                                <div class="w-full flex flex-wrap gap-3">
                                    <Icon name="simple-icons:mysql" color="#4479A1" width="2.25rem" height="2.25rem"/>
                                    <Icon name="simple-icons:mongodb" color="#47A248" width="2.25rem" height="2.25rem"/>
                                </div>
                            </div>
                        </div>
                        <div class="w-full lg:w-1/2 h-full flex flex-col justify-between gap-y-5">
                            <div class="w-full flex flex-col gap-y-3">
                                <h4 class="text-xl font-light font-sans text-black dark:text-white">editores</h4>
                                <div class="w-full flex flex-wrap gap-3">
                                    <Icon name="simple-icons:xcode" color="white" width="2.25rem" height="2.25rem"/>
                                    <Icon name="simple-icons:clion" color="white" width="2.25rem" height="2.25rem"/>
                                    <Icon name="simple-icons:pycharm" color="white" width="2.25rem" height="2.25rem"/>
                                    <Icon name="simple-icons:intellijidea" color="white" width="2.25rem" height="2.25rem"/>
                                    <Icon name="simple-icons:phpstorm" color="white" width="2.25rem" height="2.25rem"/>
                                    <Icon name="simple-icons:webstorm" color="white" width="2.25rem" height="2.25rem"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="h-0.5 black dark:white mx-3 md:mx-6"/>
    <section id="projects" class="w-full flex flex-col gap-y-10 px-6 md:px-12">
        <SectionsTitle title="#projetos"/>
        <Projects projects={projects} />
    </section>
    <hr class="h-0.5 black dark:white mx-3 md:mx-6"/>
    <section id="work-experience-and-events" class="w-full flex flex-col lg:flex-row justify-between lg:gap-x-20 px-6 md:px-12">
           <Timeline timelineTitle="#experiência" highlights={[
               {
                   date: "FEVEREIRO DE 2024 - AGOSTO DE 2024",
                   title: "UpCities, Vitória — Estagiário de desenvolvimento iOS",
                   description: "Trabalhei no desenvolvimento e manutenção dos aplicativos iOS UpCities, utilizando a linguagem de programação Swift, framework UIKit e arquitetura MVVM."
               },
               {
                   date: "DEZEMBRO DE 2022 - DEZEMBRO DE 2023",
                   title: "Adapti Soluções Web - Empresa Júnior, São Mateus — Assessor de Desenvolvimento",
                   description: "Trabalhei no desenvolvimento de sites e sistemas web com foco em gerenciamento de equipes baseado em metodologias ágeis e Scrum."
               },
               {
                   date: "MARÇO DE 2022 - DEZEMBRO DE 2022",
                   title: "Adapti Soluções Web - Empresa Júnior, São Mateus — Assessor de Desenvolvimento",
                   description: "Trabalhei no desenvolvimento de sites e sistemas web com o framework Laravel e a linguagem PHP, além de HTML5, CSS e MySQL."
               },
           ]}/>

           <Timeline timelineTitle="#eventos" highlights={[
               {
                   date: "2023",
                   title: "Finalista da Batalha de Dados Quantum - Itaú Unibanco"
               },
               {
                   date: "2023",
                   title: "Segunda Edição Adaptelas - Adapti Soluções Web (Empresa Júnior)",
                   description: "Participação na organização da segunda edição do programa Adaptelas - que tem como objetivo ensinar, de maneira gratuita e online, diferentes tipos de programação para mulheres e pessoas não binarias."
               },
               {
                   date: "2022",
                   title: "Fase Local, Regional e Nacional da Olimpíada Brasileira de Informática (OBI)",
                   description: "100º lugar geral"
               },
               {
                   date: "2022",
                   title: "Fase Regional da Maratona de Programação de Computadores da SBC (ICPC)"
               },
               {
                   date: "2022",
                   title: "Aulas de preparação para Maratonas de Programação de Computadores — Projeto Multidisciplinar de Extensão da Universidade",
                   description: "Participação em aulas de preparação para maratonas de programação de computadores como ouvinte e professor."
               }
           ]}/>
       </section>
</Layout>