---
import CustomFooter from "../components/CustomFooter.astro";
interface Props {
	title: string;
	description?: string;
}

const { title, description = "Site pessoal e de portfolio" } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-black w-dvw h-dvh flex flex-col items-center">

		<main class="flex flex-col gap-y-20 mb-20 container">
			<slot />
		</main>

		<footer class="w-full mt-auto bg-dark-purple dark:bg-purple">
			<CustomFooter people={[
				{
					name: "Marcos Mello",
					contribution: "Desenvolvido por",
					linkedin: "https://linkedin.marcosmello.dev",
					github: "https://github.marcosmello.dev"
				},
				{
					name: "Júlia Cancian",
					contribution: "Design por",
					linkedin: "https://www.linkedin.com/in/julia-cancian/",
					behance: "https://www.behance.net/juliacancian"
				}
			]}/>
		</footer>
	</body>
</html>